/* General */
body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin: 0px;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: #000000;
}

.help {
	font-size:12px;
	vertical-align:top;
}

.faicon {
	font-family:FontAwesome;
	cursor:pointer;
}
.success { color: #27ae60 }
.errorThenSuccess { color: #e67e22; }
.error { color: #c0392b; }
.skipped { color: #95a5a6; }

.action {
	cursor: pointer;
}

.faicon, .fa-spinner {
	margin: 0 5px;
}

.hidden, .dialog {
	display:none;
}

.center {
	text-align:center;
}

.hidden {
	display:none;
}

ul.unstyled {
	list-style: none;
	padding-left: 0;
}

div.prctgradient {
	background:linear-gradient(to right,#E5FCE6,#8BE082 50%,#F7B471 80%,#FF6666 100%);
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.flexContained {
	margin:20px;
}

a.action {
	color:#4996ce;
}


/* XML Formatter */
span.xml_tagname {
	color: #800080;
	font-weight: bold;
}

span.xml_attributename {
	color: #000000;
	font-weight: bold;
}

span.xml_attributevalue {
	color: #0000ff;
}

/* Menu */
span#message {
	font-size:14px;
	color:green;
	font-weight:bold;
}

span#message span+span:before {
	content:", ";
}

ul.topmenu {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #E0E0E0;
	height: 20px;
	margin-bottom:50px;
	padding-left:150px;
}

ul.topmenu li {
	display: inline;
	padding: 7px;
	cursor: pointer;
}

div.topmenu img{
	width:140px;
	position:fixed;
	left:10px;
	top:3px;
	z-index:100;
}

ul.topmenu li.logo a {
	color: #000000;
}

ul.topmenu li.selected {
	background-color: #EEEEEE;
}

ul.topmenu li:hover {
	background-color: #4993ce;
}

ul.submenu {
	position:fixed;
	top:30px;
	left:0px;
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 160px;
	background-color: #EEEEEE;
	height: 20px;
}

ul.submenu li {
	display: inline;
	padding: 10px;
}

ul.submenu li a {
	text-decoration: none;
	color: #4993CE;
}

div#userInfo {
	position: fixed;
	right: 10px;
	top: 0px;
	padding: 5px;
}

div.content {
	margin-top:80px;
	padding: 5px;
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
}

/* Footer */
div#footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

/* Global styles for forms */
div.formdiv form {
	display:block;
}

div.formdiv label {
	min-width: 15em;
	display: inline-block;
	text-align: right;
	margin-right:1em;
}

div.formdiv input:not(.select2-search__field):not(.spinner):not(.datepicker):not(.timepicker) {
	min-width:22em;
}

div.formdiv input.spinner {
	width:40px;
}


div.formdiv input[type='submit'] {
	min-width:10em;
	display:block;
	margin-left:20em;
	margin-top:1em;
}

div.formdiv input[type='checkbox'] {
	min-width:0em;
	margin:0px;
}

div.formdiv select {
	width:25em;
}

div.formdiv form > div {
	margin-top: 10px;
	margin-bottom:10px;
}

div#wfs-editor fieldset {
	border-radius:5px;
}

.submit {
	float:right;
}

/* Global styles for tabbed presentation */
fieldset.tabbed {
	border-radius:5px;
}

.tabbed div div:nth-child(1) {
	min-width:22em;
	display:inline-block;
}

.tabbed div div:nth-child(2) {
	font-weight:bold;
	display:inline-block;
}

/* Global styles for tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table th, td {
	border: 1px solid #DEE0E3;
	line-height: 20px;
	padding: 2px 3px;
}

th.thActions {
	width:80px;
}

table.highlight_row tr:hover {
	border-left: 3px solid #647FE0;
	border-right: 3px solid #647FE0;
}

tr.group {
	background: #CCC;
}

tr.group td {
	font-size: 15px;
	font-weight: bold;
	padding: 7px;
}

tr.groupspace td {
	height: 2em;
	border: none;
}

td.tdActions {
	text-align:center;
}

/* Boxes */
ul.scheduleParameters {
	display:inline-block;
	float:right;
	margin:0px;
}

ul.scheduleParameters li {
	display:inline-block;
	list-style-type: none;
	border:1px solid;
	margin-left:3px;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
	border-radius:5px;
}

div.boxTitle {
	position: relative;
	background-color: #DEE0E3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #505050;
	width: 100%;
	display: inline-block;
	padding: 2px 0 2px 0;
	text-align: center;
	font-weight: bold;
}

div.boxTitle .action {
	cursor: pointer;
	float: right;
	margin-top: 4px;
	margin-right: 7px;
	font-weight:normal;
}

div.boxTitle .filter {
	float:left;
	margin-top: 4px;
	margin-left: 7px;
}

div.boxTitle div.pages {
	display:inline-block;
}

/* Login page */
div#login {
	text-align:center;
	margin:auto;
	margin-bottom:300px;
}

div#login fieldset {
	border-radius: 20px;
	display: inline-block;
	padding: 20px;
}

div#login div.logo {
	display:inline-block;
	vertical-align:top;
}

div#login div.logo img {
	width:200px;
}

div#login div.form {
	display:inline-block;
	margin-left:20px;
}

/* Git */
.git_uptodate {
}

.git_needpull {
	color:orange;
}

.git_needpush {
	color:green;
}

.git_conflict {
	color:red;
}

.task div.task_icon{
	border:none;
}

/* jQuery */
.ui-autocomplete { height: 200px; overflow-y: scroll; overflow-x: hidden;}

/* Search form */
#searchformcontainer {
	border:1px solid;
	border-radius:5px;
	padding:5px;
	border-color:grey;
}

#searchformcontainer a {
	color:#4996ce;
}

#dt_inf, #dt_sup, #hr_inf, #hr_sup {
	width: 6em;
}

/* Install page */
  div.install_content {
	width: 540px;
	margin: auto;
}

  div.install_content div.error {
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
}

div.install_content div.submit {
	text-align: center;
}

div.install_content div.installform {
	border:1px solid grey;
}

div.install_content input[type=submit] {
	min-width:unset;
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}