/* General */
body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	margin: 0px;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: #4996ce;
}

.help {
	font-size:12px;
	vertical-align:top;
}

.faicon {
	font-family:FontAwesome;
	cursor:pointer;
}

.dialog {
	display:none;
}

div.error {
	color:red;
	font-weight:bold;
	margin:5px;
}

/* XML Formatter */
span.xml_tagname {
	color: #800080;
	font-weight: bold;
}

span.xml_attributename {
	color: #000000;
	font-weight: bold;
}

span.xml_attributevalue {
	color: #0000ff;
}

/* Menu */
span#message {
	font-size:14px;
	color:green;
	font-weight:bold;
}

ul.topmenu {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 5px 0px 5px 0px;
	background-color: #E0E0E0;
	height: 20px;
	margin-bottom:50px;
	padding-left:150px;
}

ul.topmenu li {
	display: inline;
	padding: 7px;
	cursor: pointer;
}

div.topmenu img{
	width:140px;
	position:fixed;
	left:10px;
	top:3px;
	z-index:900;
}

ul.topmenu li.logo a {
	color: #000000;
}

ul.topmenu li.selected {
	background-color: #EEEEEE;
}

ul.topmenu li:hover {
	background-color: #4993ce;
}

ul.submenu {
	position:fixed;
	top:30px;
	left:0px;
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 3px 160px;
	background-color: #EEEEEE;
	height: 20px;
}

ul.submenu li {
	display: inline;
	padding: 10px;
}

ul.submenu li a {
	text-decoration: none;
	color: #4993CE;
}

div#userInfo {
	position: fixed;
	right: 10px;
	top: 0px;
	padding: 5px;
}

div.content {
	margin-top:80px;
	padding: 5px;
	max-width:1280px;
	margin-left:auto;
	margin-right:auto;
}

/* Footer */
div#footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px; }

  /* Global styles for forms */
div.formdiv form {
	display:block;
}

div.formdiv label {
	min-width: 15em;
	display: inline-block;
	text-align: right;
	margin-right:1em;
}

div.formdiv input {
	min-width:20em;
}

div.formdiv input[type='submit'] {
	min-width:10em;
	display:block;
	margin-left:20em;
	margin-top:1em;
}

div.formdiv input[type='checkbox'] {
	min-width:0em;
	margin:0px;
}

div.formdiv select {
	min-width:20em;
}

div.formdiv select.custom-schedule-select{
	min-width: unset;
}

div.formdiv form > div {
	margin-top: 10px;
	margin-bottom:10px;
}

.submit {
	float:right;
}

/* Global styles for tables */
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

table th, td {
	border: 1px solid #DEE0E3;
	line-height: 20px;
	padding: 2px 3px;
}

table.highlight_row tr:hover {
	border-left: 3px solid #647FE0;
	border-right: 3px solid #647FE0;
}

tr.group {
	background: #CCC;
}

tr.group td {
	font-size: 15px;
	font-weight: bold;
	padding: 7px;
}

tr.groupspace td {
	height: 2em;
	border: none;
}

td.tdActions {
	text-align:center;
}

  /* Boxes */
div.boxTitle {
	background-color: #DEE0E3;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #505050;
	width: 100%;
	display: inline-block;
	padding: 2px 0 2px 0;
	text-align: center;
	font-weight: bold;
}

div.boxTitle .action {
	cursor: pointer;
	float: right;
	margin-top: 4px;
	margin-right: 7px;
}

/* Login page */
div#login {
	text-align:center;
	margin:auto;
	margin-bottom:300px;
}

div#login fieldset {
	border-radius: 20px;
	display: inline-block;
	padding: 20px;
}

div#login div.logo {
	display:inline-block;
	vertical-align:top;
}

div#login div.logo img {
	width:200px;
}

div#login div.form {
	display:inline-block;
	margin-left:20px;
}