

/***** Workflow instances (home page) *****/

#nodes-status {
	position: absolute;
	left: 0.5em;
}

.job {
	position: relative;
	padding-left: 2em;
	padding-bottom: 0.5em;
}

.tasks {
	border: 1px dotted black;
	padding: 0.2em;
	display: inline-block;
	margin: 0.5em auto;
}

.taskState {
	width: 1.5em;
	display: inline-block;
	text-align: center;
}

.task_execution:not(:last-child) {
	cursor: pointer;
}



/* minus-plus icon to fold/unfold subjobs */
.tasks {
	position: relative;
}
.foldSubjobs {
	position: absolute;
	left: -0.3em;
	bottom: -1.2em;
	z-index: 50;
}
.foldSubjobs.fa-minus-square-o {
	display: none;
}
.job:hover > .tasks .foldSubjobs {
	display: inline-block;
}

.taskName {
	cursor: pointer;
}



/***** Draw lines to display a workflow's hierarchy of jobs & tasks *****/

/* vertical line that goes down to a job's subjobs */
.job:not(:last-child):before {
	position: absolute;
	content: "";
	width: 1px;
	height: calc(100% + 1em + 2px);  /* job's height + 2*0.5em (vertical tasks margin) + 2*1px (tasks border) */
	/*top: -0.5em;*/
	left: 0;
	background-color: black;
}

/* horizontal line that goes from the job line to its tasks list */
.tasks:after {
	position: absolute;
	content: "";
	height: 1px;
	width: 2em;
	top: 50%;
	left: -2em;
	background-color: black;
}

/* vertical line that goes from parent, half way down its tasks */
.tasks:before {
	position: absolute;
	content: "";
	width: 1px;
	height: calc(50% + 1em + 2px);
	top: calc(-1em - 1px);
	left: calc(-2em - 1px);
	background-color: black;
}

/* Charts */
#workflow-stats-graph {
	display:none;
	background-color:white;
	z-index:100;
}

body {
	--chart-radius:100px;
	--chart-width:20px;
	--chart-label-space:10px;
	--chart-label-width:200px;
}

div.chartwrapper {
	padding:30px 120px 0px 120px;
	border:1px solid black;
	overflow:hidden;
	display:inline-block;
	font-size:12px;
}

div.chart {
	width:calc(var(--chart-radius) * 2);
	height:var(--chart-radius);
	position:relative;
}

div.chartcenter {
	border-radius:var(--chart-radius);
	background-color:white;
	width:calc(var(--chart-radius) * 2 - var(--chart-width) * 2);
	height:calc(var(--chart-radius) * 2 - var(--chart-width) * 2);
	position:absolute;
	top:var(--chart-width);
	left:var(--chart-width);
	z-index:20;
}

div.slice {
	border:0px;
	width:calc(var(--chart-radius) * 2);
	height:var(--chart-radius);
	transform-origin: 50% 0;
	border-bottom-left-radius:calc(var(--chart-radius) + 1px);
	border-bottom-right-radius:calc(var(--chart-radius) + 0px);
	position:absolute;
	top:var(--chart-radius);
	left:0;
	
	transform: rotate(0deg);
	z-index:10;
}

div.labelwrapper {
	width:var(--chart-label-space);
	height:20px;
	position:absolute;
	top:var(--chart-radius);
	left:calc(0px - var(--chart-label-space));
	transform-origin: calc(var(--chart-radius) + var(--chart-label-space)) 0;
	transform: rotate(0deg);
}

div.label.left {
	text-align:right;
	width:var(--chart-label-width);
	margin-left:calc(0px - var(--chart-label-width));
	transform-origin: var(--chart-label-width) 50%;
	transform: rotate(0deg); 
}

div.label.right {
	text-align:left;
	width:var(--chart-label-width);
	transform-origin: 0 50%;
	transform: rotate(0deg); 
}