.faicon {
	font-family:FontAwesome;
	cursor:pointer;
}

.faicon, .fa-spinner {
	margin-left: 5px;
}

body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 0.9rem;
}

a {
	text-decoration: none;
}

a, a:visited {
	color: #000000;
}
