div.formdiv {
	display: block;
	
	&>div {
		margin-top: 10px;
		margin-bottom: 10px;
		
		&>label {
			min-width: 15rem;
			display: inline-block;
			text-align: right;
			margin-right: 1rem;
			vertical-align: middle;
		}
		
		&>input[type='text'] {
			width: 21rem;
			box-sizing: border-box;
		}
		
		&>.evq-select {
			width: 21rem;
		}
		
		&>.evq-autocomplete {
			width: 21rem;
		}
	}
}
