table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	
	th.thActions {
		width:80px;
	}
	
	table.highlight_row tr:hover {
		border-left: 3px solid #647FE0;
		border-right: 3px solid #647FE0;
	}
	
	th, td {
		line-height: 20px;
		padding: 2px 3px;
	}
}

table.border {
	th, td {
		border: 1px solid $evq-light-grey;
	}
	
	tr.group {
		background: #CCC;
	}

	tr.group td {
		font-size: 15px;
		font-weight: bold;
		padding: 7px;
	}

	tr.groupspace td {
		height: 2em;
		border: none;
	}

	td.tdActions {
		text-align: center;
	}
}
