.center {
	text-align: center;
}

.right {
	text-align: right;
}

.success { color: $evq-success }
.errorThenSuccess, .warning { color: #e67e22; }
.error { color: $evq-error; }
.skipped { color: #95a5a6; }

div.error {
	color: $evq-error;
	font-weight: bold;
	padding: 0.3rem;
}

div.light-error {
	color: $evq-error;
}

.action {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}
