@import 'variables/colors.scss';

@import 'global/content.scss';
@import 'global/tabbed.scss';
@import 'global/formdiv.scss';
@import 'global/table.scss';
@import 'global/fonts.scss';
@import 'global/text.scss';
@import 'global/footer.scss';
@import 'global/button.scss';

@import 'ui/help.scss';
@import 'ui/dialog.scss';
@import 'ui/confirm.scss';
@import 'ui/prompt.scss';
@import 'ui/alert.scss';
@import 'ui/tabs.scss';
@import 'ui/pannel.scss';
@import 'ui/xml.scss';
@import 'ui/datepicker.scss';
@import 'ui/select.scss';
@import 'ui/autocomplete.scss';
@import 'ui/input.scss';

@import 'components/base/app.scss';
@import 'components/base/xpath-helper.scss';
@import 'components/base/xpath-input.scss';
@import 'components/panels/instances/details.scss';
@import 'components/panels/instances/filters.scss';
@import 'components/panels/queues/list.scss';
@import 'components/panels/workflows/list.scss';
@import 'components/panels/logs/filters.scss';
@import 'components/panels/logs/engine.scss';
@import 'components/dialogs/tasks/editor.scss';
@import 'components/dialogs/tasks/script-editor.scss';
@import 'components/dialogs/workflows/value-selector.scss';
@import 'components/dialogs/workflows/properties.scss';
@import 'components/menus/header.scss';
@import 'components/menus/workflow-editor.scss';
@import 'components/editor/workflow-editor.scss';

@import 'pages/auth.scss';
