Source: evqueue-frontend-php
Section: net
Priority: optional
Maintainer: Thibault KUMMER <bob@coldsource.net>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.1.1
Homepage: http://www.evqueue.net
Vcs-Git: https://github.com/coldsource/evqueue-frontend-php.git
Vcs-Browser: https://github.com/coldsource/evqueue-frontend-php

Package: evqueue-frontend-php
Architecture: all
Depends: apache2, libapache2-mod-php7.0, php7.0-mysql, php7.0-xsl, php7.0-xml, ${misc:Depends}
Description: evQueue web management and configuration interface
 evQueue frontend is a web interface used to configure and manage
 the evqueue-core daemon. Written in PHP and Javascript, it allows
 easy creation of workflows and schedules. It supports user authentication,
 live monitoring of workflow instances, statistics...
 Notification plugins are also supported to send reports to system
 administrators or developers.
