Package: evqueue-frontend-php
Version: 1.3
Section: devel
Priority: optional
Architecture: all
Installed-Size: 2988
Depends: apache2, libapache2-mod-php5, php5-curl, php5-mysql, php5-xsl
Maintainer: Thibault Kummer <bob@coldsource.net>
Description: evQueue web board

