.evq-logs-filters {
	border: 1px solid;
	border-radius: 5px;
	padding: 0.4rem;
	border-color: grey;
	max-width: 25rem;
	margin-left: auto;
	margin-right: auto;
	
	.date, .hour {
		width: 6em;
	}
	
	a {
		color: $evq-light-blue;
	}
} 
