ul.evq-tabs {
	margin:0px;
	padding:0px;
	text-align: left;
	
	li {
		display: inline-block;
		padding: 7px;
		cursor: pointer;
		border:1px solid grey;
		border-radius: 3px;
		margin:0px 3px 0px 3px;
	}
	
	li.selected {
		font-weight: bold;
		padding: 10px;
		background-color: #d6e7f5;
	}
}

div.evq-tabs-content {
	padding: 0.3rem 0.3rem 0rem 0.3rem;
}
